# **Final Project**
Big Data Analysis and Visualization in Python

In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# **Part I: Data Overview**

1. Use the pandas library to read the data file and to create the data frame.

In [63]:
data_path ='/content/drive/MyDrive/DataSets/customers.csv'
df = pd.read_csv(data_path, delimiter='\t')

2. Display the first 5 rows and the last 3 rows of your data.

In [64]:
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [65]:
df.tail(3)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

3. Show quick statistics of your data

In [66]:
df.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
count,2240.000000,2240.000000,2216.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,...,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.000000,2240.0,2240.0,2240.000000
mean,5592.159821,1968.805804,52247.251354,0.444196,0.506250,49.109375,303.935714,26.302232,166.950000,37.525446,...,5.316518,0.072768,0.074554,0.072768,0.064286,0.013393,0.009375,3.0,11.0,0.149107
std,3246.662198,11.984069,25173.076661,0.538398,0.544538,28.962453,336.597393,39.773434,225.715373,54.628979,...,2.426645,0.259813,0.262728,0.259813,0.245316,0.114976,0.096391,0.0,0.0,0.356274
min,0.000000,1893.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
25%,2828.250000,1959.000000,35303.000000,0.000000,0.000000,24.000000,23.750000,1.000000,16.000000,3.000000,...,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
50%,5458.500000,1970.000000,51381.500000,0.000000,0.000000,49.000000,173.500000,8.000000,67.000000,12.000000,...,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
75%,8427.750000,1977.000000,68522.000000,1.000000,1.000000,74.000000,504.250000,33.000000,232.000000,50.000000,...,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.0,11.0,0.000000
max,11191.000000,1996.000000,666666.000000,2.000000,2.000000,99.000000,1493.000000,199.000000,1725.000000,259.000000,...,20.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.0,11.0,1.000000

4. Show the data type of each column

In [67]:
all_column_dtypes = df.dtypes
print("Data types of all columns:")
print(all_column_dtypes)

Data types of all columns:
ID                       int64
Year_Birth               int64
Education               object
Marital_Status          object
Income                 float64
Kidhome                  int64
Teenhome                 int64
Dt_Customer             object
Recency                  int64
MntWines                 int64
MntFruits                int64
MntMeatProducts          int64
MntFishProducts          int64
MntSweetProducts         int64
MntGoldProds             int64
NumDealsPurchases        int64
NumWebPurchases          int64
NumCatalogPurchases      int64
NumStorePurchases        int64
NumWebVisitsMonth        int64
AcceptedCmp3             int64
AcceptedCmp4             int64
AcceptedCmp5             int64
AcceptedCmp1             int64
AcceptedCmp2             int64
Complain                 int64
Z_CostContact            int64
Z_Revenue                int64
Response                 int64
dtype: object

5. Show how many columns and rows in your data.

In [68]:
rows = df.shape[0]
columns = df.shape[1]
print(f"Number of rows: {rows}")
print(f"Number of columns: {columns}")

Number of rows: 2240
Number of columns: 29

6. Show the list of columns in your data frame.

In [69]:
columns_list = df.columns.tolist()
print("List of columns:")
print(columns_list)

List of columns:
['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response']

7. Show the number of duplicated rows in your data.

In [70]:
duplicate_count = df.duplicated().sum()
print(f"The number of duplicate rows is: {duplicate_count}")

The number of duplicate rows is: 0

# **Part II: Data Preparation and Cleaning**
8. Rename the columns belonging to Products by removing Mnt from them.
- a. You should have: 'Wines','Fruits','Meat','Fish','Sweet','Gold'

In [71]:
columns_to_rename = ['MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds']
new_column_names = ['Wines', 'Fruits', 'Meat', 'Fish', 'Sweet', 'Gold']
dfm = df.copy()
dfm.rename(columns=dict(zip(columns_to_rename, new_column_names)), inplace=True)
dfm[new_column_names].head()

   Wines  Fruits  Meat  Fish  Sweet  Gold
0    635      88   546   172     88    88
1     11       1     6     2      1     6
2    426      49   127   111     21    42
3     11       4    20    10      3     5
4    173      43   118    46     27    15

9. Rename the columnsbelonging to Place by removing Num and Purchases from them.
a. You should have: 'Web ','Catalog', 'Store'

In [72]:
columns_to_rename = ['NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases']
new_column_names = ['Web', 'Catalog', 'Store']  # Corrected column names
dfm.rename(columns=dict(zip(columns_to_rename, new_column_names)), inplace=True)
dfm[new_column_names].head()

   Web  Catalog  Store
0    8       10      4
1    1        1      2
2    8        2     10
3    2        0      4
4    5        3      6

10. Keep only NumDealsPurchases column in the Promotion section

In [73]:
columns_to_keep = ['NumDealsPurchases']
dfm[columns_to_keep].head()

   NumDealsPurchases
0                  3
1                  2
2                  1
3                  2
4                  5

11. Delete the column NumWebVisitsMonth

In [74]:
columns_to_delete = ['NumWebVisitsMonth']
dfm['NumWebVisitsMonth'].head()
dfm.drop(columns=columns_to_delete, inplace=True)
# dfm['NumWebVisitsMonth'].head()

12. The attribute Year_Birth is not helpful to segment your data. Instead create a new derived column named Age.

In [75]:
dfm['Age'] = 2023 - dfm['Year_Birth']
dfm['Age'].head()

0    66
1    69
2    58
3    39
4    42
Name: Age, dtype: int64

13. Create a new column named Spending that holds the total amount spent on all products categories.

In [76]:
dfm['Spending'] = dfm['Wines'] + dfm['Fruits'] + dfm['Meat'] + dfm['Fish'] + dfm['Sweet'] + dfm['Gold']
dfm['Spending'].head()

0    1617
1      27
2     776
3      53
4     422
Name: Spending, dtype: int64

14. Change the Dt_Customer type from object to datetime. Use the format YYYY-MM-DD.

In [90]:
from datetime import datetime
dfm['Dt_Customer'] = pd.to_datetime(dfm['Dt_Customer'], format='%d-%m-%Y')
dfm['Dt_Customer'].head()

0   2012-09-04
1   2014-03-08
2   2013-08-21
3   2014-02-10
4   2014-01-19
Name: Dt_Customer, dtype: datetime64[ns]

In [89]:
df['Dt_Customer'].head()

0    04-09-2012
1    08-03-2014
2    21-08-2013
3    10-02-2014
4    19-01-2014
Name: Dt_Customer, dtype: object

15. Show the unique values of the column data Marital_Status.

In [91]:
columns = ['Marital_Status']
unique_values = df[columns].apply(lambda x: x.unique())
print(unique_values)

  Marital_Status
0         Single
1       Together
2        Married
3       Divorced
4          Widow
5          Alone
6         Absurd
7           YOLO

16. It is better to work with lower categorical values. Hence, we’ll classify customers in two segments for
their martial status: change the column Marital status as follows:
- a. Change the values: Divorced, Single, Absurd and Widow to 'Alone'
- b. Change Married and Together to 'Not Alone'

In [92]:
new_values = {
    'Divorced': 'Alone',
    'Single': 'Alone',
    'Absurd': 'Alone',
    'Widow': 'Alone',
    'Married': 'Not Alone',
    'Together': 'Not Alone'
}

dfm['Marital_Status'] = dfm['Marital_Status'].replace(new_values)
dfm['Marital_Status'].head()
#

0        Alone
1        Alone
2    Not Alone
3    Not Alone
4    Not Alone
Name: Marital_Status, dtype: object

17. Show the unique values of the column Education.

In [93]:
columns = ['Education']
unique_values = df[columns].apply(lambda x: x.unique())
print(unique_values)

    Education
0  Graduation
1         PhD
2      Master
3       Basic
4    2n Cycle

18. We want to segment the customers in 2 groups based on their education level: change the column
Education as follows:
- a. Change the values: 'Basic' and '2n Cycle' to 'Undergraduate',
- b. All other values to 'Postgraduate'

In [98]:
columns = ['Education']
new_values = {
    'Basic': 'Undergraduate',
    '2n Cycle': 'Undergraduate'
}
dfm['Education'] = dfm['Education'].replace(new_values)
dfm['Education'].loc[~dfm['Education'].isin(['Undergraduate'])] = 'Postgraduate'
dfm['Education'].loc[dfm['Education'].isin(['Undergraduate'])].head()

<ipython-input-98-b69d32acb5ec>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfm['Education'].loc[~dfm['Education'].isin(['Undergraduate'])] = 'Postgraduate'

11    Undergraduate
19    Undergraduate
37    Undergraduate
46    Undergraduate
67    Undergraduate
Name: Education, dtype: object

19. Have a look at column Income. Investigate the presence of outliers? Delete them accordingly.

In [100]:
columns = ['Income']
dfm[columns].describe()
#
columns_to_delete = ['Income']
dfm.drop(columns=columns_to_delete, inplace=True)

20. Show quick statistics for the column Income.

In [104]:
columns = ['Income']
df[columns].describe()
# dfm[columns].describe() # error the column was delete

              Income
count    2216.000000
mean    52247.251354
std     25173.076661
min      1730.000000
25%     35303.000000
50%     51381.500000
75%     68522.000000
max    666666.000000

21. Show the number of missing values for each column.

In [105]:
columns = df.columns
missing_values = df[columns].isnull().sum()
print(missing_values)

ID                      0
Year_Birth              0
Education               0
Marital_Status          0
Income                 24
Kidhome                 0
Teenhome                0
Dt_Customer             0
Recency                 0
MntWines                0
MntFruits               0
MntMeatProducts         0
MntFishProducts         0
MntSweetProducts        0
MntGoldProds            0
NumDealsPurchases       0
NumWebPurchases         0
NumCatalogPurchases     0
NumStorePurchases       0
NumWebVisitsMonth       0
AcceptedCmp3            0
AcceptedCmp4            0
AcceptedCmp5            0
AcceptedCmp1            0
AcceptedCmp2            0
Complain                0
Z_CostContact           0
Z_Revenue               0
Response                0
dtype: int64

22. Fill the missing values with the average.

In [108]:
columns = ['Income']
df[columns] = df[columns].fillna(df[columns].mean())
df[columns]

       Income
0     58138.0
1     46344.0
2     71613.0
3     26646.0
4     58293.0
...       ...
2235  61223.0
2236  64014.0
2237  56981.0
2238  69245.0
2239  52869.0

[2240 rows x 1 columns]

23. Create a new column named Children to hold the total number of children for every customer.

In [109]:
new_column_name = 'Children'
dfm[new_column_name] = dfm['Kidhome'] + dfm['Teenhome']
dfm[new_column_name].head()

0    0
1    2
2    0
3    1
4    1
Name: Children, dtype: int64

24. Create a new column Has_Complaint as follows:
- a. 'Has complaint' if the customer complained in the last 2 years,
- b. Otherwise 'No complaint'

In [110]:
columns = ['Complain']
dfm['Has_Complaint'] = dfm['Complain'].apply(lambda x: 'Has complaint' if x == 1 else 'No complaint')
dfm['Has_Complaint'].head()

0    No complaint
1    No complaint
2    No complaint
3    No complaint
4    No complaint
Name: Has_Complaint, dtype: object

In [111]:
dfm['Has_Complaint'].head()

0    No complaint
1    No complaint
2    No complaint
3    No complaint
4    No complaint
Name: Has_Complaint, dtype: object

25. Show the first 5 rows of customers with ‘No complaint